.section {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  justify-content: center;

  @media (width < 780px) {
    width: 85%;
  }
}
.text {
  color: var(--cu-yellow);
  font-size: 23px;
  margin: 0;
  margin: 0;
}
.texts {
  font-weight: 800;
  font-size: 28px;
  margin: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (width < 780px) {
    flex-direction: column;
    gap: 20px;
  }
}
.img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}
.card1 {
  display: flex;
  width: 45%;
  background: black;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @media (width < 780px) {
    width: 100%;
  }
}
.card2 {
  display: flex;
  width: 45%;
  background: black;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  @media (width < 780px) {
    width: 100%;
  }
}
.head {
  font-size: 10px;
  width: 80%;
  color: white;
}
.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 70%;
}
.name {
  margin: 0;

  font-size: 20px;
  color: var(--cu-yellow);
}
.detail {
  margin: 0;
  font-size: 17px;
  color: white;
}
