.section{
    width: 70%;
    display: flex;
    height: 80%;
    flex-direction: column;

}
.head{
    text-align: center;
    color: var(--cu-yellow);
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;

}
.text{
    font-size: 26px;
    color: black;
    margin: 0;
    text-align: center;

}
.wrapper{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.abt{
    width: 40%;
}
.downtext{
    font-size: 20px;
    font-weight: 800;
}
.downtexts{
    font-size: 13px;
    font-weight: 400;
}
.imgs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.imag{
    width: 40%;
    border-radius: 30px;
}