.section{
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
    @media (width < 780px) {
        width: 80%;
         
      }
}
.wrapper{
    display: flex;
    margin-top: 90px;
    align-items: center;
    width: 100%;
    height: 60%;
    justify-content: space-between;

    @media (width < 780px) {
        flex-direction: column;
        align-items: flex-start;
        height: 90%;
         
      }
}
.cards{
    display: flex;
    justify-content: space-between;
    @media (width < 780px) {
    flex-direction: column;
         
      }

}
.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    @media (width < 780px) {
        width: 80%;
         
      }

}
.head{
    width: 70%;
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding: 30px 0;
    border-bottom: 9px solid var(--cu-yellow);
    @media (width < 780px) {
        width: 100%;
        
        
    }
}
.par{
    font-size: 11px;
    width: 70%;
    text-align: left;
    color: white;
    @media (width < 780px) {
        width: 90%;
        
        
    }
    
}
.phonetext{
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    font-weight: 700;
    margin: 0;
    color: white;
    justify-content: space-between;
    width: 70%;

    @media (width < 780px) {
        width: 100%;
        
        
    }
}
.icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.phone{
    display: flex;
    
    align-items: flex-start;
   flex-direction: column;
   color: white;
}
.itext{
    font-size: 14px;
}
.abt{
    display: flex;
   align-items: center;
   width: 100%;
   gap: 9px;
    color: white;
}
.icons{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.lastp{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
}